<main>
    <div class="container-fluid my-container">
        <div class="row">
            <!-- Text Section -->
            <div class="col-lg-6 col-md-5 col-sm-12 text-section">
                <h1>Look good without leaving your house.</h1>
                <p>Upbox is the easiest way to look your best without having to hunt for the perfect makeup combination.
                    Our stylists curate the latest trends and send them directly to your door every month.</p>
                <button class="btn btn-lg btn-primary btn-block">
                    Sign up <span class="fs-5">&rsaquo;</span>
                </button>
            </div>
            <!-- Image Section -->
            <div class="col-lg-6 col-md-7 col-sm-12 image-section">
                <img src="../../assets/box.png" alt="Subscription Box" class="box-image">
                <img src="../../assets/box-art.png" alt="Box Art" class="box-art-image">
            </div>
        </div>
    </div>
    <div class="container section text-center">
        <h1>How it works?</h1>
        <img src="../../assets/underline.png" alt="">
    </div>

    <div class="container section">
        <div class="row align-items-center">
            <!-- Image Div with Number -->
            <div class="col-md-6 image-container">
                <div class="number1-overlay">1</div>
                <img src="../../assets/work1.png" alt="Profile Setup" class="img-fluid float-right">
            </div>
            <!-- Text Div -->
            <div class="col-md-6 text-section">
                <h1>Setup your profile & preferences</h1>
                <p>Once you create an account, you can start to tell us your likes and dislikes so we can tailor the
                    experience just for you.</p>
            </div>
        </div>
    </div>

    <div class="container section">
        <div class="row align-items-center">
            <!-- Text Div -->
            <div class="col-md-6 text-end">
                <div class="number2-overlay">2</div>
            </div>
            <!-- Image Div with Number -->
            <div class="col-md-6 image-section">
                <img src="../../assets/work2.png" alt="Profile Setup" class="box-image1">
                <img src="../../assets/work2-art.png" alt="Profile Setup" class="box-art-image1">
            </div>
        </div>
    </div>
    <div class="container section">
        <div class="row align-items-center">
            <div class="col-md-6">
            </div>
            <!-- Text Div -->
            <div class="col-md-6 text-section">
                <h1>Review your custom box</h1>
                <p>Once we get to know you, we will show you the box we've crafted. This is your chance to
                    approve it
                    before we ship it to your house.</p>
            </div>
        </div>
    </div>

    <div class="container section">
        <div class="row align-items-center">
            <!-- Image Div with Number -->
            <div class="col-md-6 image-container">
                <div class="number3-overlay">3</div>
                <img src="../../assets/work3.png" alt="Profile Setup" class="img-fluid float-right">
            </div>
            <!-- Text Div -->
            <div class="col-md-6 text-section">
                <h1>Try it on at home</h1>
                <p>Your box will arrive within 3-5 days (usually sooner) and you get the joy to unbox your Upbox.
                    Try it all on and send back whatever you’re not in love with.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center my-5">
            <button class="btn btn-lg btn-primary btn-block">Try it for yourself
                <span class="fs-5">&rsaquo;</span>
            </button>
        </div>
    </div>
</main>